{% extends 'base.html.twig' %}

{% block title %}{{ request.title }}{% endblock %}

{% block request %}active{% endblock %}

{% block body %}
<h1>{{ request.title }}</h1>

<h3>Categorie :</h3>
<p>{{ request.category }}</p>

<hr>

<h3>Contenu :</h3>
<p>{{ request.content}}</p>

<hr>

<h3>Date de disponibilité :</h3>
<p>{{ request.interventionDate|date('m/d/Y')}}</p>

<hr>
<h3>Bénéficiaire</h3>
<p>Nom : <a href="{{ path('back_beneficiary_read', {id: request.user.id}) }}">{{ request.user.lastname }}</a> </p>
<p>Prénom : {{ request.user.firstname }}</p>
<p>Email : {{ request.user.email }}</p>
<p>Téléphone : {{ request.user.phoneNumber }}</p>
{# <p>Image : <img src="{{ asset('uploads/pictures/' ~ request.user.picture)}}" width = "70px"></p> #}
<p>Département : {{ request.user.department }}</p>
<p>Biographie : {{ request.user.bio }}</p>

<a class="btn btn-sm btn-success" href="{{ path('back_request_browse') }}">retour</a>

{% endblock %}
