{% extends 'base.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block category %}active{% endblock %}

{% block body %}



<h1>Liste des Catégories</h1>

{# Flash message #}
{{ include('back/_flash_messages.html.twig') }}

<table class="table table-hover table-striped">
  
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
     
    {% for category in categories %}        
    <tr>
      <th scope="row">{{ category.id }}</th>
      <td>{{ category.name }}</td>
      <td><form action="{{ path('back_category_delete', {id:category.id}) }}" onsubmit="return confirm('Voulez-vous supprimez : {{ category.name|e('js') }} ?')" method="POST">
            <input type="hidden" name="_method" value="DELETE"/>
            <input type="hidden" name="token" value="{{ csrf_token('delete') }}"/>
            <a class="btn btn-sm btn-secondary" href="{{ path('back_category_read', {id: category.id}) }}">Voir</a>
            <a class="btn btn-sm btn-primary" href="{{ path('back_category_edit', {id: category.id}) }}">Modifier</a>
            <button class="btn btn-sm btn-danger" type="submit" >Supprimer</button>
          </form>
      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>


<h3>Ajouter une catégorie</h3>

{{ include('_form.html.twig') }}

{% endblock %}

