{% extends 'base.html.twig' %}

{% block title %}Bénéficiaires{% endblock %}

{% block beneficiary %}active{% endblock %}

{% block body %}

   <h1>{{ beneficiary.firstname }} {{ beneficiary.lastname }}</h1>

    <p>Email : {{ beneficiary.email }}</p>
    <p>Téléphone : {{ beneficiary.phoneNumber }}</p>
    {# <p>Image : <img src="{{ asset('uploads/pictures/' ~ beneficiary.picture)}}" width = "70px"></p> #}
    <p>Département : {{ beneficiary.department }}</p>
    <p>Biographie : {{ beneficiary.bio }}</p>

    <a class="btn btn-sm btn-success" href="{{ path('back_beneficiary_browse') }}">retour</a>

    <hr>
{# Beneficiary's Requests #}

<table class="table table-striped">
    {# En-têtes #}
  <thead>
    <tr>
     <th scope="col">Id</th>
     <th scope="col">Catégorie</th>
      <th scope="col">Titre</th>
      <th scope="col">Contenu</th>
      <th scope="col">Intervention</th>
    </tr>
  </thead>
  <tbody>

  <h2>Liste des demandes</h2>

    {# Bénéficiaire #}
    {% for request in beneficiary.requests %}
    <tr>
      <th scope="row">{{ request.id }}</th>
      <td>{{ request.category }}</td>
      <td><a href="{{ path('back_request_read', {id: request.id}) }}">{{ request.title }}</a></td>
      <td>{{ request.content }}</td>
      <td>{{ request.interventionDate|date('m/d/Y')}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>

{% endblock %}